.container {
  background-color: #ebd1d4;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 2rem 0;
}

.container h2 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.container p {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.container p span {
  color: red;
  cursor: pointer;
}
.container p span:hover {
  font-weight: bold;
  color: red;
  text-decoration: underline;
}

.login__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

form label {
  display: block;
  font-size: 3rem;
  margin-bottom: 0.7rem;
}

form input {
  margin-bottom: 0.7rem;
  background-color: #ebd1d4;
  border-bottom: 1px solid #000;
  font-size: 2.5rem;
}

form p {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: red;
}

.login__btn button {
  background-color: #2e2e2e;
  border: 1px solid #000;
  padding: 1rem 2rem;
  font-size: 2rem;
  cursor: pointer;
  width: 100%;
}
.userRegister {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: fit-content;
  background-color: green;
  margin-top: 1rem;
}

.userRegister p {
  font-size: 3rem;
  text-align: center;
}
